<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>

    <h2>Коментарі</h2>
    <ul>
        {% for comment in post.comment_set.all %}
            <li>
                <p>{{ comment.author }}: {{ comment.body }}</p>
            </li>
        {% endfor %}
    </ul>

    <h2>Додати коментар</h2>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Відправити</button>
    </form>

    <a href="{% url 'post_list' %}">Повернутися до списку постів</a>
</body>
</html>
